.home{
  padding-top: 6rem;
  display: inline-block;
}

.icon-container{
  text-align: center; /*keeps image aligned*/
}

.home .home-icon{
  padding-top: 4rem;
  width: 250px;
  height: auto;
}

.home .home-icon:hover{
  width: 250px;
  height: auto;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 1.5em #646cffaa);
}

.typed-out{
  font-family: 'Roboto Mono', monospace;
  font-size: 60px;
  width: 0;
  padding-left: 10px;
  overflow: hidden;
  border-right: .15em solid;
  white-space: nowrap;
  animation: 
    typing 1s steps(12, end) forwards,
    cursor .8s infinite;
}

.link-menu {
  margin: 0;
  list-style: none;
}

.link-item{
  display: inline-block;
  padding: 2rem;
}

.link-containter{
  padding-top: 2rem;
  text-align: center;
  padding-right: 2rem;
}

.link-item a{
  text-decoration: none;
  color: white;
}

.link-item a:hover{
  text-decoration: none;
  color: white;
  border-bottom: 5px solid;
}


@keyframes typing{
  from {width: 0%}
  to {width: 100%}
}
/*cursor blinking*/
@keyframes cursor{
  from {border-color: transparent;}
  to {border-color: white;}
}
