.home{
  padding-top: 3rem;
  display: inline-block;
}

.icon-container{
  text-align: center; /*keeps image aligned*/
}

.home .browser-home-icon{
  width: 250px;
  height: auto;
}

.home .mobile-home-icon{
  padding-top: 1rem;
  width: 200px;
  height: auto;
}

.home .browser-home-icon:hover{
  width: 250px;
  height: auto;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 1.5em #646cffaa);
}

.home .mobile-home-icon:hover{
  width: 200px;
  height: auto;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 1em #646cffaa);
}

.mobile-typed-out{
  font-family: 'Roboto Mono', monospace;
  font-size: 37px;
  width: 0;
  overflow: hidden;
  border-right: .12em solid;
  white-space: nowrap;
  animation: 
    typing 1s steps(12, end) forwards,
    cursor .8s infinite;
}

.browser-typed-out{
  font-family: 'Roboto Mono', monospace;
  font-size: 60px;
  width: 0;
  overflow: hidden;
  border-right: .15em solid;
  white-space: nowrap;
  animation: 
    typing 1s steps(12, end) forwards,
    cursor .8s infinite;
}

.mobile-link-item{
  display: block;
  text-align: center;
  padding-top: 10px ;
}

.browser-link-item{
  display: inline-block;
  padding: 2rem;
  padding-top: 1rem;
}

.mobile-link-containter{
  padding-top: 2rem;
  text-align: center;
}

.browser-link-containter{
  text-align: center;
}

.mobile-link-item a{
  text-decoration: none;
  color: white;
}

.browser-link-item a{
  text-decoration: none;
  color: white;
}

.mobile-link-item a:hover{
  text-decoration: none;
  color: white;
  border-bottom: 4px solid;
}

.browser-link-item a:hover{
  text-decoration: none;
  color: white;
  border-bottom: 5px solid;
}


@keyframes typing{
  from {width: 0%}
  to {width: 100%}
}
/*cursor blinking*/
@keyframes cursor{
  from {border-color: transparent;}
  to {border-color: white;}
}
